$black: #000000;
$white: #ffffff;
$primary-main: #120b48;
$grey: #616163;
$primary-font: "Sora", sans-serif;
$secondary-font: "Inter", sans-serif;
$alt-font: "Work Sans", sans-serif;

a {
  text-decoration: none;
}

// .icons {
//   align-items: center;
//   justify-content: center;
// }
